body {
    font-family: 'Lato','sans-serif';
    text-align: center;
}

.container {
    margin-top:80px;
}

h2, h3, h4, h5, h6, p {
    color: #0f0f0f;
}

h1 {
    font-size: 50px;
    color: #3fb0ac;
    font-weight: bold;
}

#send-email-btn {
    margin-top: 10px;
    background: rgba(110, 211, 207, 0.4);
}

.navbar-octify {
    background: #3fb0ac;
    border-bottom: 1px solid #d2d6d5;
}

.navbar-octify a.navbar-brand {
    color: #fff;
    font-weight: bolder;
}